body {
font-family: "宋体";
font-size: 12px;
}

.info{FONT-SIZE: 14px;color:#FFFFFF;font-family:@Tahoma,@宋体;width:20px}
TABLE {
	CURSOR: default; FONT-SIZE: 12px; MARGIN: 0px
}
TR {
	HEIGHT: 16px
}
TR.out {
	BACKGROUND-COLOR: #efefef; COLOR: #000000; FONT-SIZE: 12px
}
HR.sperator {
	BORDER-BOTTOM: #ffffff 1px inset; BORDER-LEFT: #ffffff 1px inset; BORDER-RIGHT: #ffffff 1px inset; BORDER-TOP: #ffffff 1px inset; WIDTH: 95%
}
.w2kfont {
	FONT-FAMILY: Tahoma; FONT-SIZE: 8pt
}

.skin0 {
position:absolute;
padding-top:1px;
text-align:center;
width:70px; /*宽度，可以根据实际的菜单项目名称的长度进行适当地调整*/
border:1px solid black;
background-color:menu; /*菜单的背景颜色方案，这里选择了系统默认的菜单颜色*/
font-family:"宋体";
line-height:2px;
cursor:default;
visibility:hidden; /*初始时，设置为不可见*/
z-index:3
}

/*定义菜单方框的样式2*/
.skin1 {
padding-top:1px;
cursor:default;
font:menutext;
position:absolute;
text-align:center;
font-family: "宋体";
font-size: 12pt;
width:70px; /*宽度，可以根据实际的菜单项目名称的长度进行适当地调整*/
background-color:menu; /*菜单的背景颜色方案，这里选择了系统默认的菜单颜色*/
border:1 solid buttonface;
visibility:hidden; /*初始时，设置为不可见*/
border:1 outset buttonhighlight;
z-index:3
}

/*定义菜单条的显示样式*/
.menuitems {
padding:2px 1px 2px 10px;
z-index:3
}
.subcolor {
	position:absolute;
	border:1 solid buttonface;
	width:70px;
	z-index:3
}
.topDiv{
	position:absolute;
	left:10px;
	top:60px;
	width:720;
	height:576;
	z-index:1;
	border-top  :  solid 1px #B5CAFF  ;
    border-left : solid 1px #B5CAFF ;
    border-right : solid 1px #B5CAFF ;
    border-bottom : solid 1px #B5CAFF ;
	overflow:hidden;
}

.newDiv {
	position:absolute;
	z-index:2;
	border-top  :  solid 1px #B5CAFF  ;
	border-left : solid 1px #B5CAFF ;
	border-right : solid 1px #B5CAFF ;
	border-bottom : solid 1px #B5CAFF ;
}
